<footer class="footer" style="margin-top: 80px;padding-top: 28px;padding-bottom: 10px; background-color: rgba(0,0,0,0.3);" id="footer">
    <div class="container">
        <div class="col-md-4 column" >
            <div style="color: white;font-family:Hanken;">
                <i class="fa fa-weixin fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;xplxplxplxplxpl<br><br>
                <i class="fa fa-qq fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;836978965<br><br>
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;https://github.com/xiepl1997<br><br>
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@peiliang1997<br><br>
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;xiepl1997@gmail.com&nbsp;/&nbsp;xiepl1997@163.com<br><br>
            </div>
        </div>
        <div class="col-md-8 column" style="text-align: center;">
            <div style="margin-top: 80px;font-family: '宋体';color: white;">
                <img src="images/newtitle.png"><br><br>
                <p>Designed and developed by Peiliang.</p>
                <p>Copyright © 2019-2022 xpllyn.com. All Rights Reserved.</p>
                <a href="http://www.beian.miit.gov.cn" target="_blank" style="color: white">辽ICP备19015369号-1</a>
            </div>
        </div>
    </div>
</footer>