<footer id="footer" class="buttom">
    <span style="float: left;">
        <a class="fa fa-lg" style="color: white">联系我&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="fa fa-weixin fa-lg" style="color: white;">xiepl1997</a>&nbsp;&nbsp;
        <a class="fa fa-qq fa-lg" style="color: white;">836978965</a>&nbsp;&nbsp;
        <a class="fa fa-github fa-lg" style="color: white;">https://github.com/xiepl1997</a>&nbsp;&nbsp;
        <a class="fa fa-envelope-o fa-lg" style="color: white;">xiepl1997@gmail.com</a>
    </span>
    <span style="float: right;">
        <img src="images/newtitle.png">&nbsp;&nbsp;&nbsp;
        <a class="fa fa-lg" style="color: white;">
            Designed and developed by xiepl1997.&nbsp;&nbsp;&nbsp;&nbsp;©2019-2022 xpllyn.com.&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="fa fa-lg" href="http://www.beian.miit.gov.cn" target="_blank" style="color: white">辽ICP备19015369号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
    </span>
</footer>