html, body{
	height: 100%;
	overflow: auto;
}
/*设置背景样式*/
body{
	display:inline-block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	padding-top: 40px;
}

/*头像样式*/
.icon{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-repeat: no-repeat;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	overflow: hidden;
	/*position: fixed;*/
	position: relative;
	left: 50%;
	top: 27%;
	padding-bottom: 100px;
	margin-left: -70px;
	animation: icon_animation 3s infinite alternate;
	animation-timing-function: ease-in-out;
	-webkit-transition: transform 3S;
}

/*网站图标样式*/
.title{
	background-repeat: no-repeat;
	position: fixed;
	left: 50px;
	top: 20px;
}

/*头像动画*/
@keyframes icon_animation{
	0% {top: 27%;}
	50% {top: 30%;}
	100% {top: 27%;}
}

/*鼠标悬停头像旋转*/
.icon:hover{
	transform: rotate(360deg);
}

/*背景和首页文字样式*/
.modbg{
	background: url("../images/lynbg.jpg");
	background-position: center center;
	background-size: cover;
	position: fixed;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-words{
	/*首选字体琥珀*/
	font-family: "STHupo","Microsoft YaHei","宋体",sans-serif;
}

/*留言板样式*/
.talk{
	font-family: "宋体";
	margin-top: 40px;
}

/*留言列表样式*/
.message_list_title{
	margin-top: 40px;
}

.message-content{
	height: 200px;
	width: 100%;
	padding-top: 30px;
	padding-left: 15px;
	border-radius: 10px;
	font-size: large;
}

/*电子书下载和近期的文章list-group滚动条设置*/
#scroll-2{
        width:200px;
        height:200px;
        overflow:auto;
	margin-bottom: 20px;
}
#scroll-2 div{
	width:400px;
	height:400px;
}
#scroll-2::-webkit-scrollbar{
	width:4px;
	height:4px;
}
#scroll-2::-webkit-scrollbar-track{
	background: #f6f6f6;
	border-radius:2px;
}
#scroll-2::-webkit-scrollbar-thumb{
	background: #aaa;
	border-radius:2px;
}
#scroll-2::-webkit-scrollbar-thumb:hover{
	background: #747474;
}
#scroll-2::-webkit-scrollbar-corner{
	background: #f6f6f6;
}

.booklist{

}
