#j1{
    margin-bottom: 0px;
    background: url("../images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

#LoginForm{
    margin-left: 10px;
    margin-right: 10px;
}

#j2{
    margin-bottom: 0px;
    background-image: url("../images/bg.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#RegisterForm{
    margin-left: 10px;
    margin-right: 10px;
}

.n{

}

.buttom {
    text-align: center;
    padding-left: 30px;
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(0,0,0,0.3);
}

.modbg{
    background: url("../images/githubpagesearchbg.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 40px;
}

html, body{
    height: 100%;
    overflow: auto;
}
