<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>chat room</title>

    <!--	<link rel="stylesheet" type="text/css" href="css/chatroom.css">-->
    <link rel="stylesheet" type="text/css" href="chat/css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="chat/css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div th:replace="commons/navigation :: navigation"></div>
    </div>
    <div class="wrapper">
        <div class="container1" style="margin-top: 70px">
            <div class="left">
                <div class="top">
                    <input id="idSearch" type="text" placeholder="输入昵称或email添好友"/>
                    <a class="search" href="javascript:;"></a>
                </div>
                <ul class="people">
                    <li class="person group_person" data-chat="group">
                        <img src="chat/img/groupicon.jpg" alt=""/>
                        <span class="name">全体用户聊天室</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">I was wondering...</span>
                    </li>
                    <span th:each="friend:${friends}">
                        <li class="person" th:data-chat="${friend.id}">
                            <img th:src="${friend.user_icon}" alt=""/>
                            <span class="name" th:text="${friend.user_name}"></span>
                            <span class="time">2:09 PM</span>
                            <span class="preview">I was wondering...</span>
                        </li>
                    </span>
                    <!--                    <li class="person" data-chat="person1">-->
                    <!--                        <img src="chat/img/6.jpg" alt=""/>-->
                    <!--                        <span class="name">Thomas Bangalter</span>-->
                    <!--                        <span class="time">2:09 PM</span>-->
                    <!--                        <span class="preview">I was wondering...</span>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="right">
                <div class="top"><span>To: <span class="name">全体用户聊天室</span></span></div>
                <div class="chatbody" style="margin-top: 20px;">
                    <div class="chat group_chat" data-chat="group">
<!--                        <div class="conversation-start">-->
<!--                            <span>Today, 6:48 AM</span>-->
<!--                        </div>-->
<!--                        <div class="bubble you">-->
<!--                            你好，我是刘于楠-->
<!--                        </div>-->
<!--                        <div class="bubble me">-->
<!--                            你好，小仙女-->
<!--                        </div>-->
                    </div>
                    <span th:each="friend:${friends}">
                        <div class="chat" th:data-chat="${friend.id}"></div>
                    </span>
                </div>
                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input id="inputText" type="text"/>
                    <!--                    <a href="javascript:;" class="write-link smiley"></a>-->
                    <a href="javascript:;" class="write-link send sendBtn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="modal-container" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">查找到的用户</h4>
            </div>
            <div class="modal-body">
                <span id="friendsSearchResult"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="modal-addFriend-request" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">好友请求</h4>
            </div>
            <div class="modal-body">
                <span id="requestList"></span>
            </div>
        </div>
    </div>
</div>

<div th:replace="commons/footer :: #footer"></div>
<script type="text/javascript" src="js/JQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="chat/js/index.js"></script>
<script type="text/javascript" src="chat/js/chatroom.js"></script>
<script type="text/javascript">
    var socket;
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket) {
        socket = new WebSocket("ws://www.xpllyn.com:3333");
        socket.onopen = function () {
            var param = {
                id: $('.user').attr('name'),
                type: 'REGISTER'
            };
            socket.send(JSON.stringify(param));
        };
        socket.onmessage = function (event) {
            var json = JSON.parse(event.data);
            if (json.status == 200) {
                var type = json.data.type;
                switch (type) {
                    case "SINGLE_SENDING":
                        ws.singleReceive(json.data);
                        break;
                    case "GROUP_SENDING":
                        ws.groupReceive(json.data);
                        break;
                    case "GROUP_SENDING_All":
                        ws.groupReceiveAll(json.data);
                        break;
                    case "AGREE_FRIEND_REQUEST":
                        addPerson(json.data);
                        break;
                    default:
                        break;
                }
            }
        };
        socket.onclose = function (event) {
            socket.close();
            alert('连接已断开！');
            window.location.replace('http://www.xpllyn.com/loginpage');
        };
        socket.onerror = function (event) {
            socket.close();
            alert('发生错误！');
            window.location.replace('http://www.xpllyn.com/loginpage');
        };
    } else {
        alert("您的浏览器不支持WebSocket！");
    }

</script>
</body>
</html>