<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GitHub Page Search</title>
    <link rel="stylesheet" type="text/css" href="css/githubPageSearch.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="modbg" style="padding-top: 40px;padding-bottom: -1000px">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div th:replace="commons/navigation :: navigation"></div>
            <div class="page-header" style="text-align: center">
                <h1>
                    <small style="color: white">欢迎使用<img src="images/githubpagesearch_25.png"/>工具🤗🤗<br>
                        <small style="color: white">
                            使用本工具，您可以：<br>
                            📌 查阅在百度上很难查到的GitHub Page博客及主页<br>
                            📌 查阅排名靠前的优质GitHub Page博客主页以及开源项目<br>
                            📌 收获更多知识的芬芳😍<br>
                            📌 …………
                        </small>
                    </small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix" id="bg">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column">
            <img
                    src="images/githubpagesearch.png"
                    alt="GitHub Page Search"
                    title="GitHub Page Search"
                    width=100%
            />
        </div>
        <div class="col-md-4 column"></div>
    </div>
    <div class="row clearfix" style="padding-top: 30px;">
        <div class="col-md-2 column"></div>
        <div class="col-md-8 column">
            <input id="search_text" type="text" placeholder="输入你的兴趣，例如：个人网站、资源、后端、笔记、博客、java……">
            <button class="buttonx">
                <strong class="searchbutton">search</strong>
            </button>
        </div>
        <div class="col-md-2 column"></div>
    </div>

    <div class="row clearfix" style="padding-top: 20px;">
        <div class="col-md-2">
            <div id="classification"></div>
            <div id="orderOption"></div>
        </div>
        <div class="col-md-8">
            <div id="content" style="text-align: center"></div>
            <div id="items"></div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row clearfix" style="padding-bottom: 40px;">
        <div id="content1" class="col-md-12" style="text-align: center"></div>
        <div style="text-align: center" id="paginationContainer" hidden="hidden">
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>

    <div class="modal fade" id="modal-container-301161" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        关于
                    </h4>
                </div>
                <div class="modal-body">
                    <p style="text-indent: 2em;">搭建本站没别的目的，只是闲不下敲代码的手。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="commons/footer :: #footer"></div>
<script type="text/javascript" src="js/JQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jq-paginator.js"></script>
<script type="text/javascript">
    var text_history = '';
    var conditions = '';
    $(document).ready(function () {
        $(document).on('click', '.buttonx', function () {
            var text = $('#search_text').val().trim();
            if (text == '') {
                return;
            }
            var param = {
                q : text,
                page : 1,
                otherConditions : ''
            };
            text_history = text;
            $.ajax({
                url : '/GitHubPageSearch/search',
                type : 'GET',
                data : param,
                contentType: 'application/x-www-form-urlencoded',
                beforeSend : function () {
                    var html = "<div id='circle'></div>";
                    $('#content').html(html);
                },
                success : function (data) {
                    var pList = data.repositoryList;
                    var repository_count = data.repository_count;
                    if (repository_count == 0) {
                        $('#content').html("<div><h2 style='color: white'>We couldn’t find any repositories matching</h2></div>");
                    } else {
                        $('#content').html('');

                        showRepositoriesCount(repository_count);
                        showOrderPanel();
                        showItems(pList);

                        $('#paginationContainer').removeAttr('hidden');
                        initPaginator(data.page_count);

                    }

                },
                complete : function (XMLHttpRequest, status) {
                    if (status == 'timeout' || status == 'error') {
                        $('#content').html("<div><h2 style='color: white'>We couldn’t find any repositories matching</h2></div>");
                    }
                }
            })
        });

        //在文本框中回车，出发点击事件
        $(document).on('keyup', '#search_text', function (event) {
            if (event.keyCode == 13)
                $('.buttonx').get(0).click();
        });

        $(document).on('click', '#o1', function () {
            conditions = '';
            orderAjax();
        });

        $(document).on('click', '#o2', function () {
            conditions = 'general_match';
            orderAjax();
        });

        $(document).on('click', '#o3', function () {
            conditions = '&order=desc&sort=stars';
            orderAjax();
        });

        $(document).on('click', '#o4', function () {
            conditions = '&order=desc&sort=forks';
            orderAjax();
        });

        $(document).on('click', '#o5', function () {
            conditions = '&order=desc&sort=updated';
            orderAjax();
        });
    });

    function showRepositoriesCount(repository_count) {
        var html1 = "<ul class='list-group'>" +
            "<li class='list-group-item'>Repositories<span class='badge'>" + repository_count + "</span></li></ul>";
        $('#classification').html(html1);
    }

    function showOrderPanel() {
        var html2 = "<div class='list-group'>" +
            "<a class='list-group-item active' href='#'>Sort by: </a>" +
            "<a id='o1' class='list-group-item' href='#'>GitHub Page first</a>" +
            "<a id='o2' class='list-group-item' href='#'>General match</a>" +
            "<a id='o3' class='list-group-item' href='#'>Most stars</a>" +
            "<a id='o4' class='list-group-item' href='#'>Most forks</a>" +
            "<a id='o5' class='list-group-item' href='#'>Recently updated</a>" +
            "</div>";
        $('#orderOption').html(html2);
    }

    function timeformat(time) {
        var date = new Date(time);
        var m = date.getMonth() + 1;
        return date.getFullYear() + '-' + m + '-' + date.getDay();
    }

    function showItems(pList) {
        var len = pList.length;
        var html3 = "<ul class='list-group'>";
        for (var i = 0; i < len; i++) {
            html3 += "<li class='list-group-item'>" +
                "<a href='http://github.com/" + pList[i].full_name + "' target='_blank'>📚 " + pList[i].full_name + "</a>";
            html3 += "<p>";
            if (pList[i].description != null)
                html3 += "&nbsp;&nbsp;&nbsp;&nbsp;" + pList[i].description;
            html3 += "</p>&nbsp;&nbsp;&nbsp;&nbsp;<span>⭐" + pList[i].stargazers_count + "</span>";
            if (pList[i].language != null)
                html3 += "&nbsp;&nbsp;&nbsp;&nbsp;<span>🔹" + pList[i].language + "</span>";
            html3 += "&nbsp;&nbsp;&nbsp;&nbsp;<span>Updated on " + timeformat(pList[i].updated_at) + "</span>";
            if (pList[i].io_url != null)
                html3 += "&nbsp;&nbsp;&nbsp;&nbsp;🌎<a href='" + pList[i].io_url + "' target='_blank'>GitHub Page</a>";
            html3 += "</li>";
        }
        html3 += "</ul>";
        $('#items').html(html3);
    }

    function orderAjax() {
        $.ajax({
            url: '/GitHubPageSearch/search',
            data: {q : text_history, page : 1, otherConditions : conditions},
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded',
            beforeSend: function () {
                var html = "<div id='circle'></div>";
                $('#content').html(html);
            },
            success: function (data) {
                $('#content').html('');
                var pList = data.repositoryList;
                showItems(pList);
                initPaginator(data.page_count);
            },
            complete: function (XMLHttpRequest, status) {
                if (status == 'timeout' || status == 'error') {
                    $('#content').html("<div><h2 style='color: white'>We couldn’t find any repositories matching</h2></div>");
                }
            }
        })
    }

    /**
     * 分页初始化
     * @param page_count 总页数
     * @param text 用户查询输入
     */
    function initPaginator(page_count) {
        var is_first = true;
        $('#pagination').jqPaginator({
            currentPage: 1,
            totalPages: page_count,
            visiblePages: 6,
            first: '<li><a href="javascript:;">首页</a></li>',
            prev: '<li><a href="javascript:;">上一页</a></li>',
            next: '<li><a href="javascript:;">下一页</a></li>',
            last: '<li><a href="javascript:;">末页</a></li>',
            page: '<li><a href="javascript:;">{{page}}</a></li>',
            onPageChange: function (page, type) {
                if (is_first) {
                    is_first = false;
                    return;
                }
                $.ajax({
                    url: '/GitHubPageSearch/search',
                    data: {q : text_history, page : page, otherConditions : conditions},
                    type: 'GET',
                    contentType: 'application/x-www-form-urlencoded',
                    beforeSend: function () {
                        var html = "<div id='circle'></div>";
                        $('#content1').html(html);
                    },
                    success: function (data) {
                        $('#content1').html('');
                        $('#content').html('');
                        var pList = data.repositoryList;
                        showItems(pList);
                        $('html, body').animate({scrollTop: $('#bg').offset().top}, 'slow');
                    },
                    complete: function (XMLHttpRequest, status) {
                        if (status == 'timeout' || status == 'error') {
                            $('#content').html("<div><h2 style='color: white'>We couldn’t find any repositories matching</h2></div>");
                        }
                    }

                })
            }
        });
    }

</script>
</body>
</html>