<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>xpllyn个人小站</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/test.css"> -->
	<script type="text/javascript">
		title_animation();
		load_animation();
	</script>


	<link rel="stylesheet" type="text/css" href="css/homepage.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body class="modbg" style="padding-top: 70px;padding-bottom: -1000px">
<!-- <div class="icon" id="icons">
	<img id="icon_xpl" src="images/icon150.jpg">
</div>
<div class="title">
	<img id="titleimg" src="images/title150_70.png">
</div> -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" style="padding-right: 30px">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">
						 	<img src="images/newtitle.png">
						 </a>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active">
								 <a href="#">主页</a>
							</li>
							<li>
								 <a href="#">我的<b>blog</b></a>
							</li>
							<li class="dropdown">
								 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li>
										 <a href="#">Action</a>
									</li>
									<li>
										 <a href="#">Another action</a>
									</li>
									<li>
										 <a href="#">Something else here</a>
									</li>
									<li class="divider">
									</li>
									<li>
										 <a href="#">Separated link</a>
									</li>
									<li class="divider">
									</li>
									<li>
										 <a href="#">One more separated link</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								 <a href="#">关于</a>
							</li>
							<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" />
							</div> <button type="submit" class="btn btn-default">搜索本站</button>
						</form>
						</ul>
					</div>
					
				</nav>
				<div class="page-header">
					<h1 class="header-words">
						欢迎来到<span style="color: tomato">xpllyn</span>小站<small style="color: white">&nbsp;&nbsp;谢沛良的个人网站</small>
					</h1>
				</div>

				<!-- 首页介绍巨幕 -->
				<div class="jumbotron" style="opacity: 0.6">
					<h2 class="header-words">
						Introduction
					</h2>
					<p style="text-indent: 2em; font-family: 'Yapi SC';">
						搭建一个个人网站的想法已经酝酿很久了，趁着19年毕业后有着难得的空闲时间，于是乎就想着把这个想法给落实了。
					</p>
					<p style="text-indent: 2em; font-family: 'Yapi SC';">
						这个小站被我称为 &lceil;<span style="font-family: 'STHupo';">谢沛良and刘于楠的小站</span>&rfloor;， 是因为这个小站是由我两一起<span style="font-size: 11px">（她看着）</span>搭建的，一起维护的。用wordpress搭了个blog，在这个小天地里我可以做我想做的事情，记录我想记录的事情，这真是个有意义的事情的呢 <span style="font-size: 11px;">（其实是闲不住，就想写代码，大概码农命吧）</span>。
					</p>
					<p style="text-indent: 2em; font-family: 'Yapi SC';">
						搭建本站，前端bootstrap，后端springboot、springmvc+mybatis，数据库mysql。服务器用阿里云轻量应用服务器，项目用tomcat部署上线。代码已挂在gayhub上<a href="https://github.com/xiepl1997/xpllyn"><small><strong>(点击转到)</strong></small></a>。跪求各位老铁点点关注，双击star、fork一下，感激不尽~
					</p>
					<p style="float: right;">2019.7.15</p>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<!-- ebok下载 -->
			<div class="col-md-8 column" >
				<div class="list-group pre-scrollable" style="height: 100%;width: 100%">
					<a href="#" class="list-group-item active"><h4><strong>ebook download</strong></h4></a>
					<a class="list-group-item">
						List header
					</a>
					<a class="list-group-item">
						<h4 class="list-group-item-heading">
							List group item heading
						</h4>
						<p class="list-group-item-text">
							...
						</p>
					</a>
					<a class="list-group-item">
						 <span class="badge">14</span> Help
					</a> 
					<a class="list-group-item"> 
						<span class="badge">14</span> Help
					</a>
					<a class="list-group-item">mysql必知必会</a>
					<a class="list-group-item">剑指offer</a>
					<a class="list-group-item">spring实战</a>
					<a class="list-group-item">spring源码深度解析</a>
				</div>
			</div>

			<!-- 访客地图 -->
			<div class="col-md-4 column">

				<div>
					<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5ijhiniaa36&amp;m=7&amp;c=ff0000&amp;cr1=ffffff&amp;f=ubuntu&amp;l=49&amp;v0=20" async="async"></script>
				</div>
			</div>
		</div>

		<div class="row clearfix">
			<!-- ebok下载 -->
			<div class="col-md-12 column" >
				<div class="list-group" style="height: 100%;width: 100%">
					<div class="list-group pre-scrollable" style="height: 100%;width: 100%">
					<a href="#" class="list-group-item active"><h4><strong>最近的文章</strong></h4></a>
					<a class="list-group-item">
						List header
					</a>
					<a class="list-group-item">
						<h4 class="list-group-item-heading">
							List group item heading
						</h4>
						<p class="list-group-item-text">
							...
						</p>
					</a>
					<a class="list-group-item">
						 <span class="badge">14</span> Help
					</a> 
					<a class="list-group-item"> 
						<span class="badge">14</span> Help
					</a>
					<a class="list-group-item">mysql必知必会</a>
					<a class="list-group-item">剑指offer</a>
					<a class="list-group-item">spring实战</a>
					<a class="list-group-item">spring源码深度解析</a>
				</div>
				</div>
				<div class="carousel slide" id="carousel-283218">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-283218">
					</li>
					<li data-slide-to="1" data-target="#carousel-283218">
					</li>
					<li data-slide-to="2" data-target="#carousel-283218">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://cdn.ibootstrap.cn/lorempixel.com/1600/500/sports/1/default.jpg" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://cdn.ibootstrap.cn/lorempixel.com/1600/500/sports/2/default.jpg" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://cdn.ibootstrap.cn/lorempixel.com/1600/500/sports/3/default.jpg" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-283218" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-283218" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			</div>
		</div>

	</div>

	<footer class="footer navbar-fix-bottom navbar-inverse" style="margin-top: 50px;padding-top: 50px;padding-bottom: 80px">
		<div class="container">
			<div class="row clearfix">
			<div class="col-md-12 column" >
				<div class="icon"><img src="images/icon150.jpg"></div>
			</div>
		</div>
		</div>
	</footer>

	<!-- javascript -->
	<!-- jquery需要放在bootstrap之前 -->
	<script type="text/javascript" src="js/JQuery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>