<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>谢沛良的个人网站</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/test.css"> -->
	<!-- <script type="text/javascript">
		title_animation();
		load_animation();
	</script> -->


	<link rel="stylesheet" type="text/css" href="css/homepage.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="modbg" style="padding-top: 70px;padding-bottom: -1000px">
<!-- <div class="icon" id="icons">
	<img id="icon_xpl" src="images/icon150.jpg">
</div>
<div class="title">
	<img id="titleimg" src="images/title150_70.png">
</div> -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
                <div th:replace="commons/navigation :: navigation"></div>
				<div class="page-header">
					<h1 class="header-words">
						欢迎来到<span style="color: tomato">xpllyn</span>小站<small style="color: white">&nbsp;&nbsp;谢沛良的个人网站</small>
					</h1>
				</div>

				<!-- 首页介绍巨幕 -->
				<div class="jumbotron" style="opacity: 0.6">
					<h2 class="header-words">
						Introduction
					</h2>
					<p style="text-indent: 2em; font-family: 'Yapi SC';">
						搭建一个个人网站的想法已经酝酿很久了，趁着19年毕业后有着难得的空闲时间，于是乎就想着把这个想法给落实了😁😁。
					</p>
<!--					<p style="text-indent: 2em; font-family: 'Yapi SC';">-->
<!--						这个小站被我称为 &lceil;<span style="font-family: 'STHupo';">xpllyn小站</span>&rfloor;🎈🎈， 是因为这个小站是由我两一起<span style="font-size: 11px">（她看着🙃🙃）</span>搭建的，一起维护的。用github page搭了个blog，在这个地方我可以做我想做的事，记录我想记录的事情 <span style="font-size: 11px;">（其实是闲不住，就想写代码）</span>。-->
<!--					</p>-->
					<p style="text-indent: 2em; font-family: 'Yapi SC';">
						大家尽可在下方下载所需的工具书，<strong style="color: red;">无任何限制</strong>，资源和blog将会一直更新，希望能帮到您。在这里您可以使用<a href="/GitHubPageSearch"><strong>GitHub Page搜索</strong></a>，<a href="/chatroom"><strong>聊天室</strong></a>等功能，同时其他的功能也在开发中👓👓
					</p>
					<p style="text-indent: 2em; font-family: 'Yapi SC';">
						<strong>欢迎大家在页面底部留言哦😝😝</strong>
					</p>
					<p style="float: right;">2019.7.15</p>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<!-- ebok下载 -->
			<div class="col-md-8 column" >
				<a href="#" class="list-group-item active" style="border-radius:15px;"><h4><strong>资源下载<small style="color: white">（点击下载）</small></strong></h4></a>
				<div class="list-group pre-scrollable" style="height: 100%;width: 100%;border-radius: 15px;border-bottom: 1px solid gray">
					<span th:each="book:${bookList}">
						<a class="list-group-item booklist" th:text="${book?.name}" style="cursor:pointer;border: 1px solid gray" th:href="@{'/book/'+${book?.name}}" th:download="${book?.name}"></a>
					</span>
				</div>
			</div>

			<!-- 访客地图 -->
			<div class="col-md-4 column">
				<div class="list-group-item list-group-item-success" style="border-radius:15px;"><h4><strong>访客地图</strong></h4> </div>
				<div style="background-color: rgba(0,0,0,0.3);border-radius: 10px;">
					<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5ijhiniaa36&amp;m=7&amp;c=ff0000&amp;cr1=ffffff&amp;f=ubuntu&amp;l=49&amp;v0=20" async="async"></script>
				</div>
			</div>
		</div>

		<div class="row clearfix" style="padding-top: 15px;padding-bottom: 180px;">
			<!-- 最近文章列表 -->
			<div class="col-md-12 column" >
				<a href="#" class="list-group-item list-group-item-info" style="border-radius: 15px;"><h4><strong>最近的文章</strong></h4></a>
					<div class="list-group pre-scrollable" style="height: 100%;width: 100%;border-radius: 15px;border-bottom: 1px solid gray">
					<!-- 显示最近10篇 -->
					<span th:each="i:${#numbers.sequence(0,blogCount-1)}" th:if="${blogCount} ne 0">
						<a class="list-group-item blog" style="cursor: pointer;border: 1px solid gray" th:href="${blogList[i]?.url}">
							<h4 class="list-group-item-heading" th:text="${blogList[i]?.title}"></h4>
							<p class="list-group-item-text" th:text="${blogList[i]?.time}"></p>
						</a>
					</span>
					<a class="list-group-item blog-more" style="cursor: pointer;text-align: center;" href="https://xiepl1997.github.io/" target="_blank"><h5>……More……</h5></a>
				</div>

				<!-- 图片轮播 -->
				<div class="carousel slide" id="carousel-283218" style="border-radius: 15px;overflow: hidden">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-283218">
					</li>
					<li data-slide-to="1" data-target="#carousel-283218">
					</li>
					<li data-slide-to="2" data-target="#carousel-283218">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="images/lynbg1.jpg" />
					</div>
					<div class="item">
						<img alt="" src="images/pic5.jpg" />
					</div>
					<div class="item">
						<img alt="" src="images/pic2.jpg" />
					</div>
				</div> <a class="left carousel-control" href="#carousel-283218" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-283218" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			</div>

			<div class="modal fade" id="modal-container-301161" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								关于
							</h4>
						</div>
						<div class="modal-body">
							<p style="text-indent: 2em;">搭建本站没别的目的，只是闲不下敲代码的手。</p>
						</div>

					</div>

				</div>

			</div>

				<div class="col-md-2 column"></div>
					<div class="col-md-8 column">

						<!-- 留言列表 -->
						<div class="message_list_title">
							<a class="list-group-item list-group-item-danger" style="border-radius: 15px;"><h4><strong>留言列表</strong></h4></a>
						</div>
						<div class="list-group pre-scrollable" style="height: 100%;width: 100%;border-radius: 15px;border-bottom: 1px solid gray">
							<div id="message_group">
								<span th:each="i:${#numbers.sequence(0,messageCount-1)}">
									<a class="list-group-item" style="cursor: pointer;border: 1px solid gray">
										<p class="list-group-item-text" style="font-size: small;" th:text="${messageList[i]?.name}"></p>
										<p class="list-group-item-text" style="font-weight: bold;margin-left: 25px;" th:text="${messageList[i]?.content}"></p>
										<p class="list-group-item-text" style="font-size: x-small;" th:text="${messageList[i]?.create_time}"></p>
									</a>
								</span>
							</div>
							<a id="show_all_message" class="list-group-item" style="cursor: pointer;text-align: center;" href="#modal-container-969735" data-toggle="modal"><h5>……More……</h5></a>
						</div>

						<!-- 新留言 -->
						<div class="talk">
							<h2 style="color: white"><strong>新的留言</strong></h2>
							<textarea id="message" class="message-content" placeholder="有什么想对我说的？"></textarea>
						</div>
						<p style="font-size: large;font-family: '宋体';color: white"><strong>留言会公开显示，勿在留言中留下私人联系方式等隐私信息，谨防诈骗。如果您不想公开发布留言，也可以发送邮件到xiepl1997@gmail.com或xiepl1997@163.com与我联系。</strong></p>
						<button id="submit_message" type="button" class="btn btn-info btn-lg btn-center" style="margin: 0 auto;">完成</button>
					</div>
				<div class="col-md-2 column"></div>

				<div class="modal fade" id="modal-container-969735" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title" id="myModalLabel1">
									全部留言
								</h4>
							</div>
							<div class="modal-body">
								<div id="all_message" class="list-group pre-scrollable" style="height: 100%;width: 100%;border-radius: 15px;">
								</div>
							</div>
							<div class="modal-footer">
								 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							</div>
						</div>
						
					</div>
				</div>

				<!-- 留言loading -->
				<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="progress progress-striped active" >
									<div class="progress-bar progress-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"style="width: 100%;"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

		</div>

	</div>

	<div th:replace="commons/footer :: #footer"></div>

	<!-- javascript -->
	<!-- jquery需要放在bootstrap之前 -->
	<script type="text/javascript" src="js/JQuery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>